body {
    background: linear-gradient(135deg, #00070f, #00bcd4);
    font-family: 'Poppins', sans-serif;
}

.calculator {
    width: 300px;
    background-color: #fff;
}

#display {
    height: 60px;
    font-size: 1.5rem;
}

button {
    height: 60px;
    font-size: 1.2rem;
    border-radius: 10px;
}